<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            Hi, I am currently working as a full-time software engineer developing Web Applications.
        </p>
        <p>
          I started working back in May 2019 where I have been developing React applications. These applications have ranged from being entire CRM applications, to being a form application capable of executing custom expressions. If you would like to contact me about opportunities, please either contact me via the contact form or on LinkedIn. Thank you.
        </p>
      </div>
	    <div class="col-sm-6">
		    <!--<h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
    			</li>
          <li>
          <li>
    			<li>
    			</li>
    			<li>
    			</li>
		    </ul>-->
	    </div>
    </div>
  </div>
</section>
