<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            Hi there, I am currently exploring the world of Software Development after graduating with a Physics Degree.
            I am now studying an MSc in Software Development which I am currently loving. I hope to gradually put more and more content on this site to showcase my talent.
        </p>
        <p>
           One thing I love to do is building things and I believe that's why I'm enjoying my Software Develpment MSc that much more.
        </p>
      </div>
	    <div class="col-sm-6">
		    <!--<h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
    			</li>
          <li>
          <li>
    			<li>
    			</li>
    			<li>
    			</li>
		    </ul>-->
	    </div>
    </div>
  </div>
</section>
