<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Software Development</b>. I'm still very much just scratching the surface with regards to a lot of topics such as Deep Learning. I'm hoping to learn a lot.
			  </li>
			  <li>
				  <b>Portfolio Management</b>. Over recent years I have become more and more interested in finance and investing in funds and stocks. I am a big fan of Warren Buffet and I loved reading the book "The Intelligent Investor" by Benjamin Graham.
			  </li>
			  <li>
				  <b>Hiking</b>. I live in the west of Scotland, where I am only a 20 minute drive from Loch Lomond national park. I also love the chance to go on hikes when I travel abroad.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Text-based Adventure Game
    		</li>
          Library System
  		    <!--</ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>

  			</li>
  			<li>
  			</li>
		   </ul>-->
      </div>
    </div>
  </div>
</section>
