<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Software Development:</b> Not much of a surprise but I have a keen interest in Software Development and enjoy reading daily articles on it to keep up-to-date.
			  </li>
			  <li>
				  <b>Portfolio Management:</b> Over recent years I have become more and more interested in finance and investing. I loved reading the book "The Intelligent Investor" by Benjamin Graham.
			  </li>
			  <li>
				  <b>Hiking</b> I live practically next to Loch Lomond. What can I say? 
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          The Wise Group - New Routes - CRM Software.
			</li>
			<li>
		  UK Finance - Authorised Push Payment Best Practice Standards - CMS Software.
		</li>
		<li>
			Pulsion Technology - Velappity - Risk Assessment/Form Builder Software.
		</li>
		  
  		    <!--</ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>

  			</li>
  			<li>
  			</li>
		   </ul>-->
      </div>
    </div>
  </div>
</section>
